.container {
	display: flex;
	height: 100vh;
	align-items: stretch;
	overflow: hidden;
	background-color: #EAEFEF;
	color: white;
	font-family: 'Tahoma', Arial, sans-serif;
  }
  
  .sidebar {
	width: 16%;
	height: 100%;
	background-color: #333446;
	padding: 20px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
  }
  
  .logo {
	font-size: 20px;
	font-weight: bold;
	background: #cc2a92;
	color: white;
	padding: 10px;
	border-radius: 50%;
	margin-bottom: 10px;
  }

  .nav {
	width: 100%;
  }

  .nav ul {
	list-style: none;
	padding: 0;
	margin: 0;
  }
  
  .nav li {
	display: flex;
	flex-direction: row;    
	align-items: center;   
	margin: 85px 16px;        
	font-size: 18px;
	color: #EAEFEF;
  }

  .nav li a {
	transition: text-shadow 0.3s, transform 0.3s;
  }

  .nav li a:hover {
	color: #EAEFEF !important;
	font-weight: bold;
	text-decoration: underline;
	transition: color 0.5s font-weight 10s !important;
	text-shadow: 0 0 1px white, 0 0 1px white !important;
	transform: scale(1.05);
  }

  .main {
    flex: 1;
    padding: 40px;
    background-color: #EAEFEF;
    display: flex;
    justify-content: center; 
    align-items: center;    

  }
  
  .profileInfo {
	width: 50%;
	max-width: 1200px;
	margin: auto;
  }
  
  .header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 30px;
	color: #333446;
  }
  
  .avatar {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	margin-right: 10px;
  }
  
  .user {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	color: #333446;
	margin-right: 50px;
  }
  
  .form label {
	display: block;
	margin-bottom: 4px;
  }
  
  .form input {
	width: 100%;
	padding: 10px;
	border-radius: 6px;
	margin-bottom: 20px;
	font-size: 20px;;
  }
  
  .row {
	display: flex;
	gap: 20px;
	color: #333446;
  }
  
  .labelBirth {
	color: #333446;
  }
  
  .labelEmail {
	color: #333446;
  }
  
  .labelPassword {
	color: #333446;
  }

  .lastNameInput {
	width: 80% !important;
	border: 2px solid #333446;
  }
  
  .firstNameInput {
	width: 81% !important;
	border: 2px solid #333446;
  }

  .birthInput {
	width: 91% !important;
	border: 2px solid #333446;
  }

  .emailInput {
	width: 91% !important;
	border: 2px solid #333446;
  }

  .passwordInput {
	width: 91% !important;
	border: 2px solid #333446;
  }

  .row > div {
	flex: 1;
  }
  
  .actions {
	display: flex;
	gap: 16px;
	justify-content: center;
  }
  
  .cancel,
  .save {
	padding: 10px 20px;
	border: none;
	border-radius: 6px;
	font-weight: bold;
	cursor: pointer;
	font-size: 16px;
  }
  
  .cancel {
	background-color: #bdc3c7;
	color: black;
  }
  
  .save {
	background-color: #7f8caa;
	color: white;
  }
  
  .cancel:active {
	background-color: #95a5a6;
	transform: scale(0.96);
  }
  
  .save:active {
	background-color: #333446;
	transform: scale(0.96);
  }

  .cancel:hover {
	background-color: #a7b1b7;
	transform: scale(1.05);
	transition: background 0.2s, transform 0.2s;
  }
  
  .save:hover {
	background-color: #333446;
	transform: scale(1.05);
	transition: background 0.2s, transform 0.2s;
  }