.main_body {
    padding: 30px;
    display: flex;
    gap: 30px;
    min-height: calc(100vh - 80px);
}

.main_content {
    flex: 1;
    display: flex;
    flex-direction: column;
    /* border: 1px solid white; */
}

.main_body .right_side {
    width: 275px;
    min-height: 100%;
    /* padding: 0 20px; */
    display: flex;
    flex-direction: column;
    gap: 16px;
    /* border: 1px solid white; */
    flex-shrink: 0;
}

.section_block {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.card_title {
    color: white;
    font-size: 20px;
    font-weight: 700;
}

.card_balance {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: space-around;
    /* border: 1px solid white; */
    margin-bottom: 30px;
}

.card_balance_item {
    height: 150px;
    width: 190px;
}

.chart {
    width: 100%;
    border: 1px solid white;
    border-radius: 8px;
}

/* Responsive design */
@media (max-width: 1024px) {
    .main_body {
        flex-direction: column;
    }
    
    .main_body .right_side {
        width: 100%;
        order: -1;
    }
    
    .card_balance {
        flex-wrap: wrap;
        height: auto;
    }
    
    .card_balance_item {
        min-width: calc(50% - 10px);
        margin-bottom: 20px;
    }
}

@media (max-width: 768px) {
    .main {
        margin-left: 0;
        width: 100%;
    }
    
    .card_balance_item {
        min-width: 100%;
    }
}